# Vivado temporary files and directories
[current_project].tcl
*.log
*.jou
*.str
*.os
.Xil/
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.gen/
*.xpr

# Compiled files and hardware builds
*.bit
*.bin
*.mcs
*.prm
*.dcp

# Cocotb Verification Artifacts
src/sim/sim_build/
src/sim/__pycache__/
src/sim/results.xml
src/sim/*.vcd
*.fst

*.pdf

